# Implement Naive Bayes Classifier

In [1]:
import pandas as pd
from sklearn.datasets import load_iris
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB

### Data Preparation

In [2]:
iris_dataset = load_iris()
print(dir(iris_dataset))

['DESCR', 'data', 'data_module', 'feature_names', 'filename', 'frame', 'target', 'target_names']

In [3]:
features_df = pd.DataFrame(iris_dataset.data, columns=iris_dataset.feature_names)
features_df.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [4]:
target_df = pd.DataFrame(iris_dataset.target, columns=['species'])
target_df.head()

   species
0        0
1        0
2        0
3        0
4        0

In [5]:
iris_dataset.target_names

array(['setosa', 'versicolor', 'virginica'], dtype='<U10')

In [8]:
x_train, x_test, y_train, y_test = train_test_split(features_df, target_df, test_size=0.2, shuffle=True)

### Create the Model

In [6]:
bayes_model = GaussianNB()

### Train the Model

In [9]:
bayes_model.fit(x_train, y_train)

C:\Users\Saumyanti\anaconda3\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

GaussianNB()

### Evaluate the Accuracy of the model

In [10]:
bayes_model.score(x_test, y_test)

0.9666666666666667